<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.homeene.dao.AwardMapper" >
  <resultMap id="BaseResultMap" type="com.homeene.model.Award" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="probability" property="probability" jdbcType="FLOAT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="issue" property="issue" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from award
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.homeene.model.Award" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into award (name, url, probability, content,issue,
      count)
    values (#{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{probability,jdbcType=INTEGER},  #{content,jdbcType=VARCHAR},
      #{count,jdbcType=INTEGER}), #{issue,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.homeene.model.Award" >
    update award
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      probability = #{probability,jdbcType=FLOAT},
      content = #{content,jdbcType=VARCHAR},
       issue = #{issue,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, name, url, probability,content, count,issue
    from award
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, url, probability,content, count,issue
    from award
  </select>
</mapper>