<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.homeene.dao.GameMapper" >
  <resultMap id="BaseResultMap" type="com.homeene.model.Game" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="active" property="active" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="collect" property="collect" jdbcType="INTEGER" />
    <result column="collect_time" property="collectTime" jdbcType="TIMESTAMP" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="current" property="current" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="FLOAT" />
    <result column="change_status" property="changeStatus" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from game
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.homeene.model.Game" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into game (userid, name, tel, 
      mobile, active, create_time,collect,collect_time,question_id,current,money,change_status
      )
    values (#{userid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{active,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      , #{collect,jdbcType=INTEGER}, #{collectTime,jdbcType=TIMESTAMP}, #{questionId,jdbcType=INTEGER}
      , #{current,jdbcType=INTEGER}, #{money,jdbcType=FLOAT} , #{changeStatus,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.homeene.model.Game" >
    update game
    set userid = #{userid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      active = #{active,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      collect = #{collect,jdbcType=INTEGER},
      collect_time = #{collectTime,jdbcType=TIMESTAMP},
      question_id=#{questionId,jdbcType=INTEGER},
      current=#{current,jdbcType=INTEGER},
      change_status= #{changeStatus,jdbcType=INTEGER},
      money=#{money,jdbcType=FLOAT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, userid, name, tel, mobile, active, create_time, collect, collect_time, question_id,current,money,change_status
    from game
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, userid, name, tel, mobile, active, create_time, collect, collect_time, question_id,current,money,change_status
    from game
    where userid = #{userid,jdbcType=VARCHAR} order by create_time desc limit 1;
  </select>
  <select id="selectLotteryByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, userid, name, tel, mobile, active, create_time, collect, collect_time, question_id,current,money,change_status
    from game
    where id = #{id,jdbcType=INTEGER}  and collect=1 
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, userid, name, tel, mobile, active, create_time, collect, collect_time, question_id,current,money,change_status
    from game
  </select>
  <select id="selectByCollect" resultMap="BaseResultMap" parameterType="java.lang.Integer"  >
    select id, userid, name, tel, mobile, active, create_time, collect, collect_time, question_id,current,money,change_status
    from game 
    where collect = #{collect,jdbcType=INTEGER} order by collect_time
  </select>
</mapper>