<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homeene.dao.OptionsMapper">
  <resultMap id="BaseResultMap" type="com.homeene.model.Options">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="choices" jdbcType="VARCHAR" property="choices" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from options
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.homeene.model.Options">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into options (question_id, choices, name
      )
    values (#{questionId,jdbcType=INTEGER}, #{choices,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.homeene.model.Options">
    update options
    set question_id = #{questionId,jdbcType=INTEGER},
      choices = #{choices,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, question_id, choices, name
    from options
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll"  resultMap="BaseResultMap">
    select id, question_id, choices, name
    from options where question_id=#{id,jdbcType=INTEGER}
  </select>
  <select id="selectByQuestionId"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, question_id, choices, name
    from options where question_id=#{id,jdbcType=INTEGER}
  </select>
</mapper>